#input_boxes_1{
    text-align: center;
    width: 50%;
    font-size: 20px;
    margin-top: 50px;
}
button{
    font-size: 20px;
}
input{
    font-size: 20px;
}
span{
    font-size: 20px;
}